<ion-header>
  <ion-toolbar>
    <ion-title>Distrações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="/assets/img/fire.jpg" alt="" />
    <ion-toolbar>
        A Mozilla anunciou uma modificação no navegador Firefox que deve minimizar os pedidos de notificação dos sites na web. Segundo um experimento conduzido pela Mozilla, essas notificações, que permitem receber novidades 
        <p>e notícias de sites com atualizações frequentes, são em geral ignoradas ou rejeitadas pelos usuários.</p>
    </ion-toolbar>
    
</ion-content>
