<ion-header>
  <ion-toolbar>
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/evento2.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Eventos</ion-card-subtitle>
        <ion-card-title>23º Workshop Ágil DEZ/2019</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="/assets/img/evento1.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Eventos</ion-card-subtitle>
        <ion-card-title>CNASI Rio de Janeiro – 19ª edição</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="/assets/img/evento3.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Eventos</ion-card-subtitle>
        <ion-card-title>Webinar: Soluções de TI para LGPD</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
</ion-content>
